body {
    background-color:#9E9E9E;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

h1 {
    color: #f3f3f3;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
    margin-bottom: 5px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
}

.card-text {
    margin-bottom: 10px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.btn {
    background-color: #505b61;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
}

.btn:hover {
    animation: bunceJumpingText 1s infinite;
}

@keyframes bunceJumpingText {
    0% { transform: scale(1,1) translate(0px, 0px); }
    30% { transform: scale(1,0.8) translate(0px, 10px); }
    75% { transform: scale(1,1.1) translate(0px, -25px); }
    100% {  transform: scale(1,1) translate(0px, 0px); }
}